.table-container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
.table-data {
  background: #fcfcfc;
  border: 1px solid rgba(85, 86, 90, 0.12);
  border-radius: 8px 8px 0px 0px;
}
